<!DOCTYPE html>
<html>
  <head>
    <title>BlockChainCertificates</title>
    <%= csrf_meta_tags %>

    <base href="/">
    <%= include_ember_script_tags :frontend %>
    <%= include_ember_stylesheet_tags :frontend %>
  </head>
  <body class="page-template-default page page-child footer_row1_off is_header_semitransparent cryptic-one-page is_nav_sticky">
  </body>
</html>
